.admin-box {
  display: flex;
  justify-content: center;
}

.admin-components {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users-header {
  text-align: center;
}

.admin-header {
  text-align: center;
}

.you {
  color: #ac94c4;
}

.users-container {
  padding: 0;
  display: flex;
  justify-content: center;
}

.users-box {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: left;
}

.user-card {
  margin: 5px;
  padding: 0 .5em;
  border-bottom: 1px solid #000;
  width: 200px;
  transition: .2s all ease-in-out;
}

.user-card:hover {
  border-bottom: 1px solid #a8a8a8;
  cursor: pointer;
}

.user-card h3,
.user-card .user-icon span:hover  {
  transition: .2s all ease-in-out;
}

.user-card h3:hover, 
.user-card .user-icon span:hover {
  color: #373138;
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card button {
  padding: 0;
  margin-left: 5px;
}

.user-card button:hover {
  color: #a5a5a5;
}

.actions {
  display: flex;
  justify-content: space-between;
  color: #a5a5a5;
}

.user-body .user-components {
  display: grid;
  align-items: center;
}

.user-body .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-body span {
  font-family: monospace;
}

.createuser-container {
  padding: 1em 1em 0 1em;
  display: flex;
  
  align-items: center;
  text-align: center;
}

.createuser-container input {
  margin: 5px;
}

.make-mod {
  display: flex;
  justify-content: center;
}

.make-mod button {
  background: #373138;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 50px;
  transition: all .2s ease-in-out;
}

.createuser-container img {
  animation: logo-float 2s infinite alternate;
}

@keyframes logo-float{
  from {
    transform: translateY(-10%);
    filter: drop-shadow(0 0 25px rgb(162, 140, 192));
  }
  to {
    transform: translateY(0%);
    filter: drop-shadow(0 0 10px rgb(162, 140, 192));
  }
}

@media (max-width: 758px) {
  .users-box {
    width: auto;
    justify-content: center;
  }
  .createuser-box {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1128px) {
  .createuser-box {
    display: flex;
  }

  .users-box {
    width: auto;
    justify-content: center;
  }
}