.admin-components {
  padding: 1em;
}

.users-header {
  text-align: center;
}

.admin-header {
  text-align: center;
}

.you {
  color: #ac94c4;
}

.users-container {
  overflow : auto;
  padding: 1em;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.user-card {
  margin: 5px;
  padding: 0 .5em;
  border-bottom: 1px solid #000;
  width: 200px;
  transition: .2s all ease-in-out;
}

.user-card:hover {
  border-bottom: 1px solid #a8a8a8;
  cursor: pointer;
}

.user-card h3 {
  transition: .2s all ease-in-out;
}

.user-card .user-header:hover {
  color: #373138;
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card button {
  padding: 0;
  margin-left: 5px;
}

.user-card button:hover {
  color: #a5a5a5;
}

.actions {
  display: flex;
  justify-content: space-between;
  color: #a5a5a5;
}

.user-body .user-components {
  display: grid;
  align-items: center;
}

.user-body .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-body span {
  font-family: monospace;
}

.createuser-container {
  padding: 1em 1em 0 1em;
  justify-content: center;
  text-align: center;
}

.createuser-container input {
  margin: 5px;
}

.make-mod {
  display: flex;
  justify-content: center;
}

.make-mod button {
  background: #373138;
  width: 100%;
  
  margin: 10px 0;
  padding: 10px;
  border-radius: 50px;
  transition: all .2s ease-in-out;
}