.container-tokens {
  padding: 1em;
  text-align: center;
}

.container-tokens input {
  margin: 1em;
}

.tokens-box {
  padding: 0;
  display: flex;
  justify-content: center;
}

.tokens-all {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: left;
}

.token-card {
  padding: 1em;
  width: 300px;
  margin: 1em;
  border-radius: .5em 0 0 0;
  font-size: 12px;
  background: none;
  transition: box-shadow .2s ease-in-out;
  text-align: left;
  box-shadow: 4px 4px 1px #18191C, 4px 4px 2px #18191C, 4px 4px 3px #18191C, -4px -4px 1px #18191C, -4px -4px 2px #18191C, -4px -4px 3px #18191C;
  font-family: Helvetica;

}

.token-card:hover {
  cursor: pointer;
  box-shadow: 4px 4px 1px #b9bbbe, 4px 4px 2px #b9bbbe, 4px 4px 3px #b9bbbe, -4px -4px 1px #b9bbbe, -4px -4px 2px #b9bbbe, -4px -4px 3px #b9bbbe;
}

.token-info {
  display: block;
  color: transparent; 
  border-radius: 5px;
  padding: 2px;
  font-size: 12px;
  border: none;
}

.token-card:hover .token-info {
  color: #fff;
  background: #18191C;
}

.token-card h3 {
  color: #a6a6a6;
  word-break: break-all;
  font-weight: 600;
  font-size: 14px;
}

.token-card h3 span {
  color: whitesmoke;
}

.about-me {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Ginto;
  font-size: 12px;
  color: #b9bbbe;
}

.token-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  transition: border .2s ease-in-out;
}

.token-card img:hover {
  opacity: .5;
}

.token-card .token-card-header {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.token-card .token-card-body hr {
  margin: 0 10px;
  border: 1px solid #18191C;
}

.token-card .token-card-body p {
  font-family: Whitney, sans-serif;
  margin: 5px 0;
  padding: 0;
  color: #dcddde;
  font-size: 11px;
}

.token-card p span {
  color: #ac94c4;
}

.login-token-button {
  transition: .2s color ease-in-out;
  color: #a8a8a8;
}

.login-token-button:hover {
  color: #ac94c4;
}

@media (max-width: 758px) {
  .tokens-all {
    justify-content: center;
  }
}