body {
  background: #000;
  color: #fff;
}

.container {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #373138;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1 span, h2 span {
  color: #67448f;
}

h2 span {
  text-decoration: underline;
}

h2 {
  color: #373138;
  margin-top: 0;
}

p {
  color:  #fff;
}

a {
  text-decoration: none;
  color: #6c6c6c;
  transition: .2s all ease-in-out;
}

a:hover {
  color: #ac94c4;
  text-decoration: underline;
}

input {
  color: #fff;
  background: none;
  border: 1px solid #373138;
  outline: 0;
  padding: 7px;
  margin: auto;
}

.container-login {
  min-height: 75vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login .input-group {
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: left;
}

.container-login .input-group .login-input {
  margin: .2em;
}

.container-login .input-group .login-input input {
  width: 350px;
}

button {
  padding: 10px;
  background: none;
  border: none;
  text-align: center;
  color: #fff;
  font-family: monospace;
  outline: 0;
}

button:hover {
  cursor: pointer;
}

